@using task_board.Models.EntityFramework
@using task_board.Controllers
@model List<tblKart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    htmlGener creator = new htmlGener();
}

<div class="jumbotron text-center">
    <h5 class="display-4" style="font-size: 22px;">Scrum - XP task board</h5>
    <p class="display-4" style="font-size: 17px;">Dinamik olarak görev kartı ekleyebilir ve içeriklerine göz atabilirsiniz</p>
</div>
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-2 col-md-4 col-12 d-flex flex-column column" id="c1" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            <h4 class="text-center box mt-4">TODO</h4>
            @foreach(var kart in creator.createCardObject(1,Model))
            {
                <div class="card box text-center" id="k_@kart.kartID" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-header">@kart.tblProje.projeAd</div>
                    <div class="card-body">@kart.aciklama</div>
                    <div class="card-footer @creator.getStateColor(kart.tahminiSure)">@kart.tahminiSure</div>
                    <div class="card-footer">
                        <a href="/task/detay/@kart.kartID" class="btn btn-primary">GÖRÜNTÜLE</a>
                    </div>
                </div> 
            }
        </div>
        <div class="col-lg-2 col-md-4 col-12 d-flex flex-column column" id="c2" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            <h4 class="text-center box mt-4">In Progress</h4>
            @foreach (var kart in creator.createCardObject(2, Model))
            {
                <div class="card box text-center" id="k_@kart.kartID" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-header">@kart.tblProje.projeAd</div>
                    <div class="card-body">@kart.aciklama</div>
                    <div class="card-footer @creator.getStateColor(kart.tahminiSure)">@kart.tahminiSure</div>
                    <div class="card-footer">
                        <a href="/task/detay/@kart.kartID" class="btn btn-primary">GÖRÜNTÜLE</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-2 col-md-4 col-12 d-flex flex-column column" id="c3" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            <h4 class="text-center box mt-4">Revision</h4>
            @foreach (var kart in creator.createCardObject(3, Model))
            {
                <div class="card box text-center" id="k_@kart.kartID" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-header">@kart.tblProje.projeAd</div>
                    <div class="card-body">@kart.aciklama</div>
                    <div class="card-footer @creator.getStateColor(kart.tahminiSure)">@kart.tahminiSure</div>
                    <div class="card-footer">
                        <a href="/task/detay/@kart.kartID" class="btn btn-primary">GÖRÜNTÜLE</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-2 col-md-4 col-12 d-flex flex-column column" id="c4" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            <h4 class="text-center box mt-4">Check</h4>
            @foreach (var kart in creator.createCardObject(4, Model))
            {
                <div class="card box text-center" id="k_@kart.kartID" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-header">@kart.tblProje.projeAd</div>
                    <div class="card-body">@kart.aciklama</div>
                    <div class="card-footer @creator.getStateColor(kart.tahminiSure)">@kart.tahminiSure</div>
                    <div class="card-footer">
                        <a href="/task/detay/@kart.kartID" class="btn btn-primary">GÖRÜNTÜLE</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-2 col-md-4 col-12 d-flex flex-column column" id="c5" ondragover="onDragOver(event);" ondrop="onDrop(event);">
            <h4 class="text-center box mt-4">Done</h4>
            @foreach (var kart in creator.createCardObject(5, Model))
            {
                <div class="card box text-center" id="k_@kart.kartID" draggable="true" ondragstart="onDragStart(event);">
                    <div class="card-header">@kart.tblProje.projeAd</div>
                    <div class="card-body">@kart.aciklama</div>
                    <div class="card-footer @creator.getStateColor(kart.tahminiSure)">@kart.tahminiSure</div>
                    <div class="card-footer">
                        <a href="/task/detay/@kart.kartID" class="btn btn-primary">GÖRÜNTÜLE</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

